
body{
  margin: 0;
  text-align: center;
}
h1{
  margin-top: 0;
  font-family: 'Assistant', sans-serif;
}
p{
  font-family: 'Pattaya', sans-serif;
}
.top-container{
background-color: powderblue;
padding-top: 200px;
position: relative;
}
.middle-container
{

}
.bottom-container{
  
}
.bottom-cloud{
  position:absolute;
  left: 25%;
  top : 40%;
}
.top-cloud{
  position: absolute;
  left: 75%;
  top : 10%;
}
